.main {
    grid-area: main;

    overflow: auto;
}

.editorHeader {
    padding: 12px;
    border-bottom: 1px solid var(--foreground-color);

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.preview {
    padding: 12px;
}

.textRow {
    display: flex;
    gap: 8px;
}

.textRow input {
    flex-grow: 1;
}

.sentNotification {
    position: absolute;
    right: -50px;
    top: 100px;
    padding: 3px;
    background: blue;
    color: white;
}

.placeholderList {
    display: inline-flex;
    gap: 4px;
}

.placeholder {
    background: var(--selection-color)
}